# Temporal macOS files
.DS_Store
.vscode

# LaTeX compilation artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
*.toc
*.locode
*.lomyequation

# Intermediate PDFs
*tmp.pdf

# PDFs - reports
*.pdf
