# Temporal macOS files
.DS_Store
.vscode

# LaTeX compilation artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.sty
*.synctex.gz
*.synctex(busy)
*.toc
*.locode
*.lomyequation
*.tex.new

# Intermediate PDFs
*tmp.pdf

# PDFs - reports
*.pdf

# Allowed PDFs
!docs/spanish/plantilla-latex-tfg-spanish/figs/*.pdf
!docs/english/template-latex-bdp-english/figs/*.pdf
!docs/spanish/memoria.pdf
!docs/english/thesis.pdf
