# Archivos temporales de macOS
.DS_Store

# Artefactos de compilacion LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.locode
*.lomyequation

# PDFs intermedios
*tmp.pdf
